<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-success row justify-content-center mb-4">
        <form action="{% url 'index' %}" method="get">
            <button class="btn btn-sucess navbar-brand border-0" type="submit">
                <h1 class="text-white">GlobalBite</h1>
            </button>
        </form>

        <!-- Search -->
        <ul class="navbar-nav mr-auto">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form action="{% url 'recipes' %}" method="get">
                        <button class="btn btn-success" type="submit">Recipes</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form action="{% url 'search_recipes_page' %}" method="get">
                        <button class="btn btn-success" type="submit">Search Recipes</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form action="{% url 'search_by_country_page' %}" method="get">
                        <button class="btn btn-success" type="submit">Search by Country</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form action="{% url 'search_by_ingredient_page' %}" method="get">
                        <button class="btn btn-success" type="submit">Search by Ingredient</button>
                    </form>
                </li>
            </ul>
        </ul>
    </nav>

    <!-- Search form -->
    <div class="row justify-content-center mb-4">
        <form class="form-inline" action="{% url 'search' %}" method="get">
            <div class="form-group no-gutters">
                {% if name != None %}
                    <input class="form-control" name="name" type="text" placeholder="{{ name }}" value="{{ name }}" aria-label="Search">
                {% elif country_of_origin != None %}
                    <input class="form-control" name="country_of_origin" type="text" placeholder="{{ country_of_origin }}" value="{{ country_of_origin }}" aria-label="Search">
                {% elif ingredient != None %}
                    <input class="form-control" name="country_of_origin" type="text" placeholder="{{ ingredient }}" value="{{ ingredient }}" aria-label="Search">
                {% endif %}
                <button class="btn btn-success text-white">Search</button>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row justify-content-center g-4">
            {% for recipe in recipes %}
                <div class="col-4" style="margin-bottom: 20px;">
                    <div class="card h-100">
                        <div class="card-header text-center">
                            <h3 class="card-title">{{ recipe.name }}</h3>
                            <p>{{ recipe.country_of_origin }}</p>
                        </div>
                        <div class="card-body ">
                            <img class="card-img-top" src="{{ recipe.thumbnail }}" alt="{{ recipe.name }}">
                        </div>
                        <div class="card-footer text-center">
                            <form method="get" action="{% url 'recipe_detail' recipe.id %}">
                                <button class="btn btn-success" type="submit">View Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>